---
title: "CONNECTOR - HOME"
layout: splash
header:
  overlay_filter: "0.7"
  overlay_image: /assets/images/HomeLogo.png
  actions:
    - label: "Learn More"
      url: "/intro/"
excerpt: "a data-driven framework for analyzing and inspecting longitudinal."
intro: 
  - excerpt: '**CONNECTOR** is a data-driven framework for analyzing and inspecting longitudinal data in a straightforward and revealing way developed by q-Bio group at the University of Turin. <br /> 
CONNECTOR shed light onto novel model aggregations and identified unanticipated molecular associations with response to clinically approved therapies. '
feature_rowWorkflow:
  - image_path: /assets/images/Framework.png
    alt: "placeholder Framework"
    title: "Framework"
    excerpt: 'CONNECTOR is developed to fit and cluster longitudinal data using the Functional Clustering Model approach. '
    url: /framework/
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_rowWorkflow" type="left" %}

{% include feature_row %}
