---
title: "CONNECTOR"
layout: splash
header:
  overlay_filter: "0.7"
  overlay_image: /assets/images/HomeLogo.png
  actions:
    - label: "Learn More"
      url: "/intro/"
excerpt: ""
intro: 
  - excerpt: '**CONNECTOR** represents a new R package based on the Functional Clustering Analysis to study time course data. This type of data continues to be of interest to modelers and experimentalists, since are valuable data from which it is possible to extrapolate useful insights and hypothesis. 
In this context, CONNECTOR might be exploited to fit and to cluster temporal data for highlighting differences in the dynamics, reflecting a divergence in the mechanisms at the basis of the system studied.'

feature_rowWorkflow:
  - image_path: /assets/images/Framework.png
    alt: "placeholder Framework"
    title: "Framework"
    excerpt: 'CONNECTOR is developed to fit and cluster longitudinal data using the Functional Clustering Model approach. '
    url: /framework/
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_rowWorkflow" type="left" %}

{% include feature_row %}
